:root {
  --font-size-small: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-big: 2.5rem;
  --main-bg-color: #c7c7c7;
}
html {
  scroll-behavior: smooth;
  font-size: 12px;
}

body {
  background-color: var(--main-bg-color);
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bar-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-text-color);
}

section {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

section .section-content {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  max-width: 1920px;
  background-color: var(--section-background);
}

section.fixed {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

section.fixed .section-content {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

@keyframes disapear-anim {
  0% {
    display: block;
  }
  100% {
    display: none;
  }
}